<!DOCTYPE html>
<html lang="en">
  
<head>
   <meta charset="UTF-8" />
   <title>About</title>
   <link rel="stylesheet" href="https://cdn.rawgit.com/WEB222-Samples/Utilities/master/bootstrap-md-grid/bootstrap-md-grid.css" type="text/css" />
   <link rel="stylesheet" href="css/site.css" type="text/css" />
   
</head>
<body>
	<header>
        <div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>myApp</h1>
				</div>
			</div>
		</div>
      </header>
     <nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li> <a href="/"> Home </a> </li>
						<li> <a href="/about"> About </a> </li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
   <div class="container">
	   <div class="row">
				<section class="main col-md-12">
					<article>
					<h2> "Sanket Kasote - The developer" </h2>
					<p>Hello, my name is Sanket and I am enrolled in the CPA in Seneca College and will graduate in 2019.</p>
					<p>I would like to be a Business Systems Analyst in the future.</p>
					</article>
				</section>
		</div>
	</div>
   <footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>© 2017 - Sanket Kasote</h2>
			</div>
		</div>
	</div>
   </footer>
</body>

</html>