<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Register User</h1>
            <hr />
        </div>
    </div>
    {{#if successMessage}}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-success"> <strong>Success:</strong> {{user.user}} created</div>
                <a class="btn btn-success pull-right" href="/login">&nbsp;&nbsp;&nbsp;Proceed to Log in&nbsp;&nbsp;&nbsp;</a><br /><br /><br />
        </div>
    </div>
    {{else}}
    {{#if errorMessage}}
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-danger">
                <strong>Error:</strong> {{errorMessage}}
            </div>
        </div>
    {{/if}}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <form action="/register" method="POST">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="form-control" id="user" name="user" type="text" placeholder="User Name" required value="" value="{{user.user}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="form-control" id="password" name="password" type="password" placeholder="Password" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="form-control" id="password2" name="password2" type="password" placeholder="Confirm Password" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right">&nbsp;&nbsp;&nbsp;Register&nbsp;&nbsp;&nbsp;</button><br/><br />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{/if}}
</div>
