<div class="row">
    <section class="main col-md-12">
        <article>
        <h2> "Sanket Kasote - the developer" </h2>
        <p>Hello, my name is Sanket and I am studying in the CPA program in Seneca College and I will graduate in 2019.</p>
        <p>I would like to be a Business Systems Analyst in the future.</p>
        </article>
    </section>
</div>
